<p>Welcome to <%= title %></p>

<ul>
<% events.forEach(function(event) { %>
	<li>
		<a href = "/events/<%=event.id %>"><%= event.name %></a>

	</li>

<% }); %>
</ul>

<form id = "new-event-form" action = "createEvent" method="post">
	<h3> Create a New Event!</h3>
  	<p>Name: <input id = 'event-name-input' type="text" name="name" /></p>
   	<p>Description: <textarea id = 'event-description-input' name="description"></textarea></p>
   	<input id = 'event-form-submit' type='submit' value = 'Add Event'/>
</form>
