<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
	 

	<body>
	   <%- body %>
	</body>


	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
</html>